.bg{
	/*background-color:#1F1F1F;*/
	background-image:url("background.jpg");
	min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter:blur(5px);
}

button
{
	background-color:#00688B;
	color:white;
	padding:10px 14px 10px 14px;
	border:none;
	margin-top:20px;
	font-weight:bold;
	
}
button:hover
{
	background-color:#87CEEB;
	color:black;
	box-shadow: 0 0 20px #00688B ;
	
}

input
{
	padding:5px 15px;
	width:300px;
	margin-bottom:2px;
	background-color:transparent;
	border:none;
	
	
}
hr{border-color:white;}

/*input:hover{border:transparent;}*/
#p
{
	font-size:30px;
	font-weight:400;
	color:white;
	padding-bottom:10px;

}

#form
{
	background-image: url("background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height:620px;
    margin:10px 20px 20px 20px;
	padding:30px 50px;
	box-shadow: 0 0 40px gray;
	opacity:0.9;
	filter: blur(20px);
	
}
img{border-radius:50%;
margin-left:110px;
margin-bottom:30px;
	
}

.social-icons ul li {
  display: inline-block;
  height: 80px;
  overflow: hidden;
  text-decoration:none;
  padding:30px;
}

.social-icons ul li a {
 
  background-repeat: no-repeat;
  display: block;
  position: relative;
   transition: .9s ease;
}

#fa
{
	color:white;
}
#fa:hover
{
	color:blue;
}

#pid
{
	color:white; 
	text-align:center;
	transition: #009ACD 200ms ease;
}

#pid.blink {color:#009ACD;
}

/*for sign up form*/


#bg-id
{
	background-color:#33A1C9;
	/*background-image:url("bg2.jpg");
	min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	
}

fieldset 
{
	border:2px solid #8C8C8C;
    padding:20px;
	margin-top:40px;
	margin-bottom:40px;
	
	
}
.legend
{
	display: block;
	
}
.signup-image{
	background-image:url("sign.jpg");
	margin-top:20px;

}
.text
{
	color:black;
}

