body{}

.bg-light
{
	background-color:none;
}

.navbar{
	
	
	z-index:7;
	font-style:normal;
}
.nav-item {padding:12px;}


#nav-tag{background-color:#808080;height:90px;}


@media (min-width: 800px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }


  
  
  
  
.breadcrumb{background-color:transparent;border:none;}


#jumbo{background-color:#F5F5F5;
    }



.jumbotron
{
	background-color:#03A89E;
	width:100%;
	margin-bottom: 0px;
}
.h1
{
	color:white;
	font-size:60px;
	text-align:center;
	padding:100px 20px;
}

.p
{
	color:white;
	text-align:center;
	
	font-size:20px;
}


.input
{
	height:40px;
	width:600px;
	display:inline-block;
	float:right;
	border:2px;
	border-radius:2px;
	padding:5px;
	
}

}
#text-submit
{
	margin-bottom:30px;
	position:relative;
	padding-right:15px;
	padding-left:15px;
}
 .p-text
 {
	 color:white;
	 text-align:center;
	 font-size:13px;
	 
 }

.sign
{
	border-radius:10px;
	padding:0px 20px 0px 20px;
	background-color:#436EEE;
	border-color:#436EEE;
	color:white;
}

.word-div h2
{
	text-decoration:none;
	display:inline-block;
	color:white;
	margin-top:5px;
	
}

.word-footer h2
{
	text-align:center;
	color:white;
	text-decoration:none;
	display:block;
}



#credit
{
	background-color:#1E90FF;
	border:none;
	padding:18px 0px 18px 0px;
}
#credit:hover {background-color:#36648B}

#footer
{
	background-color:#404040;

}
.white-text{color:white;}
.white-text ul li a{color:white;}
.white-text ul li
{
	display:block;
	text-decoration:none;
	
}
.contact-detail h4
{
	color:white;
}



#btn-fixed
{
	position: fixed; 
	bottom: 0px; 
	right: 0px;
	margin-right:25px;
	margin-bottom:25px;
	background-color:gray;
	border:none;
}
#btn-fixed:hover
{
	background-color:blue;
}


.div-small
{
	float:right;
}

.bx-wrapper{
	
	background:transparent;
	border:none;
	box-shadow:none;
}


#footer-last  ul li{
	display:inline-block;
	
}	

#footer-last ul li a{
	color:black;
	text-decoration:none;
	padding:15px;
}


#div-3
{
	margin-top:25px;
	
}


#div-price
{
	background-color:#C1CDCD;
	height:300px;
}


.main-price{margin-top:50px;}
.main-price h1{color:#8B8386}
.main-price h6{color:#8B8386;}

.btnn{background-color:#4A708B;color:black}
#li-grp{background-color:#6CA6CD}
#li-gr{background-color:#4A708B}
#group-hover{
	box-shadow: 5px 5px 25px 5px black;
}

#main-div{display:initial;}

.text-panel a
{
	color:black;
	text-decoration:none;
	font-weight:normal;
	font-size:15px;
}
.text-panel a:hover
{
	color:blue;
}
.panel-p{margin-bottom:70px;}

.carousel-div{background-color:#F7F7F7;}





/*business page*/
.fixed-bg
{
	background-image: url("img9.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bglogin
{
	background-image: url("bglogin.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-contant
{
	margin-top:80px;
	margin-bottom:80px;
}

.multi-div
{
	padding-top:80px;
}

#large-img
{
	padding-left:25px;
}



.style{
	
    float: left;
    list-style: none;
    position: relative;
    width: 50px;
    margin-right: 10px;
	
    position: relative;
    transition-duration: 0s;
    transform: translate3d(-630px, 0px, 0px);
}
#pnl a 
{
	text-decoration:none;
	color:black;
	font-size:14px;
	font-weight:normal;
}
#pnl i:hover{color:blue;}


.p-sales
{
 font-size:13px;
 font-weight:normal;
 word-spacing:1px;
}



/*login form*/
.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
}

.btn {
    font-weight: 300;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color:;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	opacity:0.8;
}


.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}


/*end login form*/




.button {
  padding: 10px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:black;
  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button a{text-decoration:none;color:black;}

.button:hover {background-color:black;}
.button a:hover {color:white;}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.fa {

  font-size: 20px;
  width: 25px;
  margin: 10px 10px;
  border-radius: 50%;
 
   
}

.fa:hover {
    opacity: 0.7;
	
}

.fa-facebook {
  background: #404040;
  color: white;
}

.fa-twitter {
  background: #404040;
  color: white;
}

.fa-google {
  background: #404040;
  color: white;
}

.fa-linkedin {
  background:#404040;
  color: white;
}


.social-icons ul {
  
 
 
}
.social-icons ul li {
  display: inline-block;
  height: 80px;
  overflow: hidden;
  text-decoration:none;
  padding:10px;
}

.social-icons ul li a {
 
  background-repeat: no-repeat;
  display: block;
  position: relative;
   transition: .5s ease;
}



fieldset 
{
	border:2px solid gray;
   
	padding:20px;
	
}
.legend
{
	display: block;
}


.form-group input
{
	font-size:13px;
	
}
#sign-btn{
	height:50px;
	width:130px;

}
.form-group i{
	font-size:15px;
	padding:0px;

	
}


/*
.social-icons ul li a:hover {
  top: -40px;
}
.social-icons ul li a:before {
  position: absolute;
  width: 40px;
  height: 40px;
  font-family: FontAwesome;
  text-indent: 0;
  line-height: 40px;
  top: 0;
  left: 0;
  text-align: center;
 
}
.social-icons ul li a:after {
  position: relative;
  
  font-family: FontAwesome;
  text-align: center;
  
}
.facebook:hover{
	background-color:red;
}/*


/*.social-icons ul li.social-facebook a:after {
  background: #3B5998;
}
.social-icons ul li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    position: relative;
    -moz-transition: all, 0.3s, ease;
    -o-transition: all, 0.3s, ease;
    -webkit-transition: all, 0.3s, ease;
    transition: all, 0.3s, ease;
}
*/





/*#nav
{
	background-color:#E0EEEE;
	position:fixed;
	z-index:5;
	width:100%;
	font-style:normal;
	font-size:30px;
	font-weight:bold;
	opacity:0.8;
}

#menu ul li 
{
	display:inline-block;
	padding:13px;
	font-size:15px;
	list-style-type:none;
	margin-top:13px;
}

#menu ul li a 
{
	text-decoration:none;
	color:black;
	
}
#menu{float:right;}
#menu1{float:left;}
*/
	
	
.card{background-color:#848484;}
