.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    opacity: 10;
}
.hsContent {
    max-width: 700px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}

.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 40px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: white;
		background-color:transparent;
	}
	.hsContent a {
		color:white;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('hill.jpg')}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}

/* CSS - Slide 3 */
#slide-3 .bcg {background-image:url('office.jpg')}


/* Slide 4 */
.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.curtainContainer .copy {
    position: absolute;
    bottom: 30%; left: 0;
    width: 100%; text-align: center;
}
#slide-4 .bcg {background-image:url('office1.jpg')}


/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('hand.jpg')}
#slide-5 .bcg2 {background-image:url('industry.jpg');
   /* position: fixed; bottom: 0; left: 0;
    opacity: 0; z-index: 8;*/
}
#slide-5 .bcg3 {
    background: none; background-color: #010101;
    position: fixed; bottom: 0; left: 0;
    opacity: 0; z-index: 2;
}
